@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  background-color:#1fdec1;
}


header{
  font-weight: bold;
  height: 100hv;
  width:100%;
  background: #f5690c;
  font-family: 'Lobster';
}


main{
  text-align: center;
  height: 1500px;
  width:100%;
  background: blue;
}


footer{
  text-align: center;
  height: 225px;
  width: 100%;
  background:#785742;
}


.reader{
  background: red;
  height: 300px;
  width: 100%;
}
